* {
	padding:0;
	margin:0;
}

html, body {
	width:100%;
}

header {
	width: 100%;
	height:90px;
	background: #191919;
}
header button {
	float:right;
	margin: 10px;
}
header ul {
	color:white;
}
#form-logout {
	display:none;
}
#btn-register {
	display:none;
}
#btn-login {
	display:none;
}

.form-box {
	max-width: 800px;
	box-sizing: border-box;
	margin:100px auto;
	padding: 50px;
	background-color: #131212;
	z-index: 100;
	position:relative;
	color:yellow;
}
.close {
	position: absolute;
	top:-30px;
	right: -30px;
	font-size: 24px;
	font-weight: 500;
	color:yellow;
	opacity: 1;
}
.form-input input{
	color:black;
	font-size: 16px;
	box-sizing: border-box;
	width: 70%; min-width: 250px;
	padding:10px 0 10px 5px;
	margin-top:30px;
	border:solid 1px black;
}

.form-input input[type="submit"]{
	color:black;
	background: #c9c702;
	font-size: 18px;
	font-weight: 700;
	width: auto; 
	padding:10px 20px;
	text-align: center;	
	margin-top:20px;
}
.form-input input[type="submit"]:hover {
	background: #d5d326;
}


main {
	width: 100%;
	height:750px;
	background: #d7d7d7;
	padding-top: 25px;
	box-sizing: border-box;
}

.online {
	height: 95%;
	background: white;
}
.chat {
	height: 600px;
	background: white;
	overflow: auto
}
.message-block {
	height:70px;
	margin-top: 20px;
	background: #9e9e9e;
}
.message-block button{
	background: inherit;
	border:0;
}

.right-col li{
	cursor:pointer
}
#message-form input{
	margin:10px;
	padding: 13px;
	width: 90%;
}

.my-groups {
	height:330px;
	background: white;
	overflow: auto;
}
.list-of-the-groups {
	height:330px;
	margin-top: 20px;
	background: white;
	overflow: auto;
}
.right-col button{
	margin-left: 10px;
}
#my-group-list li{
	cursor: pointer
}

.join:before {
	content: 'Приєднатись'
}
.left:before {
	content: 'Покинути'
}
.delete:before {
	content: 'Видалити'
}

footer {
	width: 100%;
	height: 140px;
	background: #191919;
	margin-top: 0;
}