* {
	padding:0;
	margin:0;
}

html, body {
	width:100%;
}

.navbar {
	height:70px;
	color:#fff;
}
.logo {
	width: 110px;
	margin:5px;
}
.navbar {
	z-index:100;
}
.navbar-collapse {
	background-color:#252525;
}
.nav-btn {
	padding: 10px 15px;
	margin: 13px 10px;
	border: none;
	font-size:16px;
	background-color: #484848;
	box-shadow: 1px 1px 5px black;
}
#registerModal {
	display: none;
}
#loginModal {
	display: none;
}
#form-logout {
	display: none;
}
.greet {
	color:#68a437;
	font-size:16px;
	margin-top:23px;
	margin-right:10px;
	margin-left:10px;
}

main {
	width: 100%;
	height: 100%;
}
.chat {
	width: 100%; 
	height:85%;
	padding: 10px;
	background-color: #f9f9f9;
	box-shadow: 1px 1px 8px black;
	overflow-y: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	position: relative;
}

/*.opacity-box {*/
	/*width: 100%;*/
	/*height: 40px;*/
	/*padding:7px;*/
	/*position: absolute;*/
	/*top:0;*/
	/*left:0;*/
	/*background: rgba(37, 37, 37, 0.2);*/
	/*text-align: center;*/

/*}*/
/*#chat-name {*/
	/*font-size:16px;*/
	/*font-weight: bold;*/
	/*color:#68a437;*/
/*}*/
.message-box {
	width: 100%; 
	height: 70px;
	margin: 20px 0 20px;
	padding:15px 0;
	position: relative;
	display: none;
	background-color: #2d2d2d;
	box-shadow: 1px 1px 8px black;
}
#notice {
	text-align: center;
	color:#c01a1a;
	margin-top:20px;
	font-size: 16px;
	display: block;
}
.col-input {
	padding-right: 0;
}
#message-form input{
	padding: 10px;
	width: 100%;
	border: none;
	float:left;
}
#smilesBtn {
	 width:25px;
	 display: block;
	 margin:8px auto;
	 cursor: pointer;
}
#smilesChoose {
	width: 300px;
	padding: 15px;
	position: absolute;
	top:-55px;
	right:-93px;
	display: none;
	background: #fff;
	border: 1px solid #252525;
}
#smilesChoose:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #68a437;
	border-width: 7px;
	margin-left: -7px;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#smilesChoose span {
    cursor: pointer;
}

.right-block {
	max-height: 100%;
	overflow: auto;
}
.right-block>div {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-color: #2d2d2d;
	box-shadow: 1px 1px 8px black;

}
.title {
	display: block;
	padding: 15px;
	text-align: center;
	color:#68a437;
	font-size:17px;
	font-weight:700;
}
.list-group-item:first-child {
	border-radius: 0;
}
.list-group-item:last-child {
	border-radius: 0;
}
.list-group-item {
	width: 100%;
	height: auto;
	display: inline-block;
	padding: 8px 20px;
	border:none;
	border-top: 1px solid #373737;
    border-bottom: 1px solid #252525;
	border-radius: 0;
	background-color: inherit;
	font-size:15px;
	color:#fff;
	cursor: pointer;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.list-group-item>.badge {
	margin: 7px 0 7px 15px;
	color:black;
	font-size:12px;
	float:none;
}
.list-group-item:hover {
	background-color: #252525;
}
.list-group-item.active {
	background-color: #68a437;
	border-color: #68a437;
}
.list-group-item.active:hover {
	background-color: #68a437;
	border-color: #252525;
}
.online .list-group-item {
	padding: 7px 20px;
	cursor:text;
}
.online .list-group-item:hover {
	background-color: inherit;
}
.dropdown-menu:hover {
	z-index: 1000;
}
.list-group-btn {
	padding: 7px 10px;
	float: right;
	box-sizing: border-box;
	border: none;
	color:#fff;
	font-size:14px;
	background-color: #484848;
	box-shadow: 1px 1px 5px black;
}
.create {
	float:none;
	display: none;
	margin:0 auto;
}
.dropdown-menu li {
	color:black;
	margin-left: 10px;
}
.join:before {
	content:'Приєднатись'
}
.left:before {
	content:'Покинути'
}
.delete:before {
	content:'Видалити'
}
.group-name {
	line-height: 35px;
}

.form-box {
	max-width: 450px;
	box-sizing: border-box;
	text-align: center;
	margin:100px auto;
	padding: 20px;
	background-color: #1b1b1b;
	z-index: 100;
	position:relative;
	color:#68a437;
}
.form-box h3 {
	font-size: 22px;
}
.close {
	position: absolute;
	top:-30px;
	right: -30px;
	font-size: 24px;
	font-weight: 500;
	color: #68a437;
	text-shadow: 0 1px 0 black;
	opacity: 1;
}
.form-input input{
	color:black;
	font-size: 16px;
	box-sizing: border-box;
	width: 80%; min-width: 250px;
	padding:10px 0 10px 5px;
	margin-top:30px;
	border:solid 1px black;
}

.form-input input[type="submit"]{
	color:black;
	background: #68a437;
	font-size: 18px;
	font-weight: 700;
	padding:10px 20px;
	text-align: center;
	margin:30px 0 20px;
}
.form-input input[type="submit"]:hover {
	background: #609732;
}
.status {
	display: block;
	padding:10px;
	font-size: 15px;
	color:#f63737;
}
.successfully {
	color: #68a437;
}

/*@media screen and (max-width: 990px) {*/
	/*.col-input {*/
		/*padding-right: 15px;*/
	/*}*/
/*}*/